header {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 4rem;
}

#nav {
  gap: 2rem;
}
